<h1>Search for meta info from urls</h1>


<textarea  input="urls_in" id="urls_in" cols="100" rows="20"></textarea>
<br>

<button id="search"> Search </button>


<h1 id="loading" style="display:none">loading...</h1>

<table>
  <tr>
    <th>os_type</th>
    <th>original_url</th>
    <th>app_name</th>
    <th>app_store_id</th>
    <th>package</th>
    <th>url</th>

  </tr>

  <tbody id="output_data">


  </tbody>
</table>

<br>

